html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
    color: white;
}

td, th {
    padding: 8px 0;
    text-align: center;
    background-color: #3c79ae;
    font-size: 20px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 3px solid #ddd;
    font-weight: bold;
    text-shadow: 2px 2px 4px black; /* Set the horizontal offset, vertical offset, blur radius, and color of the shadow */
}

h1{
    margin: calc(1.7vw + 1.7vh) 0;
    text-align: center;
    color: rgb(255, 236, 94);
    font-size: calc(1.7vw + 1.7vh);
    font-family: Oswald, sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 4px black; /* Set the horizontal offset, vertical offset, blur radius, and color of the shadow */
    position: relative;
    z-index: 1;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 10vh;
    background-color: #393053;
    background-image: url("https://cdn.mobalytics.gg/assets/lol/images/page-background/home/home-v3.jpg");
    background-size: 100vh;
    background-repeat: repeat;
}

#summoner_name{
    font-size: 15px;
    width: 300px;
    padding: 10px;
    font-family: Helvetica, sans-serif;
    border-radius: 3px;
}

input[type="text"]{
    font-size: 1.5rem;
    border-radius: 5px;
    border: 3px solid #000000; 
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: Helvetica, sans-serif;
    text-indent: 10px;
    color: black;
    background-color: white;
    height: 45px;
}

input[type="text"]:hover, select:hover{
    border-color: #15abec; 
    box-shadow: 0 0 5px #15abec; 
}

input[type="text"]:focus, select:focus{
    outline: none;
    border-color: #15abec; 
    box-shadow: 0 0 5px #15abec; 
}
  
select{
    font-size: 15px;
    width: 300px;
    padding: 10px 0px;
    border: 3px solid #000000; 
    border-radius: 3px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: Helvetica, sans-serif;
    height: 45px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    font-size: calc(1.2vw + 1.2vh);
    font-family: Helvetica, sans-serif;
    color: white;
    display: block;
}

option{
    text-align: center;
}

.button{
    background-color: rgb(170, 74, 226);
    border: none;
    border-radius: calc(1vw + 1vh);
    padding: 5px 15px;
    color: white;
    text-align: center;
    font-size: calc(1.2vw + 1.2vh);
    margin-bottom: 3rem;
    transition: background-color 0.5s ease;
    border: 3px solid #000000; 
    width: 10rem;
    font-weight: bold;
}

.button:hover{
    background-color: rgb(149, 57, 203);
}

.side_banner{
    position: absolute;
    top: 0;
    width: 14%; 
    height: auto;
    /* transition: transform 0.5s ease; */
}

#left_banner{
    left: 0;
}

#right_banner{
    right: 0;
}

/* #left_banner:hover, #right_banner:hover{
    transform: scale(1.1);
} */

.error{
    font-family: Helvetica, sans-serif;
}

.alert{
    width: 50%;
    font-size: calc(1vw + 1vh);
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #703C47;
    color: white;
    border-radius: 0.3rem;
    padding: 0.75rem;
    display: block;
}

.mycontainer {
    margin: 0 5%;
}

.big_container {
    display: flex;
    width: 55vw;
    justify-content: space-around;
    margin-bottom: 2rem;
}

@media (max-width: 1450px) {
    table{
        width: 100%;
    }
    th, td{
        font-size: 15px;
    }
}

@media (max-width: 1200px){
    .big_container{
        flex-direction: column;
        align-items: center;
    }
    .mycontainer {
        margin: 2% 5%;
    }
    .alert{
        width: 80%;
    }
}

@media (max-width: 670px) {
    .alert{
        width: 100%;
    }
}

.side_banner{
    max-width: clamp(30%, 50%);
}

.btn{
    font-weight: bold;
    border-radius: calc(1vw + 1vh);
    padding: 5px 15px;
    color: white;
    background-color: rgb(170, 74, 226);
    border: none;
    text-align: center;
    font-size: calc(1vw + 1vh);
    transition: background-color 0.5s ease, color;
    width: 10rem;
}

.btn:hover{
    background-color: rgb(149, 57, 203);
    color: white;
}

.btn:focus{
    background-color: rgb(149, 57, 203);
    color: white;
}

#last{
    display: flex;
    justify-content: center;
    margin: 6% 0;
}
