table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
    color: white;
}

td, th {
    padding: 5px;
    text-align: center;
    background-color: #635985;
    font-size: 20px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 3px solid #ddd;
    font-weight: bold;
    text-shadow: 2px 2px 4px black; /* Set the horizontal offset, vertical offset, blur radius, and color of the shadow */
}

h1{
    text-align: center;
    color: rgb(255, 123, 123);
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    text-shadow: 2px 2px 4px black; /* Set the horizontal offset, vertical offset, blur radius, and color of the shadow */
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 10vh 10vh;
    background-color: #393053;
}

#summoner_name{
    font-size: 15px;
    width: 300px;
    padding: 10px 0px;
    border-radius: 3px;
}

input[type="text"]{
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 3px solid #000000; 
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
    text-indent: 10px;
    color: black;
    background-color: white;
}

input[type="text"]:hover, select:hover{
    border-color: #15abec; /* Set the border color you want to glow */
    box-shadow: 0 0 5px #15abec; /* Add a box-shadow effect to make it appear glowing */
}

input[type="text"]:focus, select:focus{
    outline: none;
    border-color: #15abec; /* Set the border color you want to glow */
    box-shadow: 0 0 5px #15abec; /* Add a box-shadow effect to make it appear glowing */
}
  
select{
    font-size: 15px;
    width: 300px;
    padding: 10px 0px;
    border-radius: 3px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 3px solid #000000; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    margin: 5px;
    font: 20px Arial, Helvetica, sans-serif;
    color: white;
}

option{
    text-align: center;
}

.button{
    background-color: #546eed;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
    border: 3px solid #000000; 
}

.button:hover{
    background-color: #ce3cfe;
    transform: scale(1.1);
}

#rank_7_icon {
    position: absolute;
    top: 10;
    left: 10;
    height: 10hv;
    transition: transform 0.5s ease;
}

#rank_7_icon:hover{
    transform: scale(1.2);
}


