html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
    border: 20px solid #4687c0;
}

div.align-content{
    display: flex;
    justify-content: left;
}

tr, th {
    text-align: center;
    background-color: #4687c0;
    font-size: 20px;
}

td{
    padding: 1vh 0;
}

th {
    padding-bottom: calc(1vh + 0.4vw);
    font-weight: 700;
    color: rgb(255, 236, 94);
}

tr:nth-of-type(2n-1){
    background-color: #3c7eb8;
}

h1{
    margin: calc(1.7vw + 1.7vh) 0;
    text-align: center;
    color: rgb(255, 236, 94);
    font-size: calc(1.7vw + 1.7vh);
    font-family: Oswald, sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 4px black; /* Set the horizontal offset, vertical offset, blur radius, and color of the shadow */
    position: relative;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 calc(2vh + 2vw);
    background-color: #393053;
    background-image: url("https://cdn.mobalytics.gg/assets/lol/images/page-background/home/home-v3.jpg");
    background-size: 100vh;
    background-repeat: repeat;
}

input#gameName_tagLine{
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    padding-left: 0;
    height: 45px;
    border: none;
}

input#gameName_tagLine:focus{
    border: none;
    outline: none;
}

select#sort-by{
    width: 300px;
    font-size: 16px;
    padding: 10px 0.6rem;
    border-radius: 8px;
    font-family: Helvetica, sans-serif;
    height: 45px;
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    color: white;
    display: block;
}

.button{
    background-color: rgb(50, 161, 246);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1.8rem;
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 1rem 0 1.5rem;
    transition: background-color 0.5s ease;
    border: 3px solid #000000; 
    font-weight: bold;
    text-decoration: none;
}

.button:hover{
    background-color: rgb(39, 139, 216);
    color: white;
}

.side_banner{
    position: absolute;
    top: 0;
    width: 14%; 
    height: auto;
    /* transition: transform 0.5s ease; */
}

#left_banner{
    left: 0;
}

#right_banner{
    right: 0;
}

.error{
    font-family: Helvetica, sans-serif;
}

.alert{
    width: 50%;
    font-size: calc(1vw + 1vh);
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #703C47;
    color: white;
    border-radius: 0.3rem;
    padding: 0.75rem;
    display: block;
}

.search-container {
    margin: 0 5%;
}

.big_container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}

@media (max-width: 1450px) {
    table{
        width: 100%;
    }
    th, td{
        font-size: 15px;
    }
}

@media (max-width: 1200px){
    .big_container{
        flex-direction: column;
        align-items: center;
    }
    .search-container {
        margin: 2% 5%;
    }
    .alert{
        width: 80%;
    }
}

@media (max-width: 670px) {
    .alert{
        width: 100%;
    }
    .side_banner{
        display: none;
    }
}

.side_banner{
    max-width: clamp(30%, 50%);
}

.my-btn{
    font-weight: bold;
    border-radius: 10px;  
    color: white;
    background-color: rgb(50, 161, 246);
    border: none;
    text-align: center;
    font-size: 18px;
    transition: background-color 0.5s ease, color;
    padding: 0.375rem 1rem;
    text-decoration: none;
}

#last{
    display: flex;
    justify-content: center;
    margin: calc(1.5vh + 1.5vw) 0;
}

.summoner-info{
    display: flex;
    gap: calc(2.5vh + 2.5vw);
    margin-bottom: calc(1vh + 1vw);
}

#summoner-icon{
    height: calc(7vw + 7vh);
    width: auto;
    border-radius: 25%;
    border: 3px solid #000000; 
}

#summoner-name{
    text-align: left;
    margin: 0 0;
    border-bottom: 1px solid #ddd;
}


#summoner-solo-rank{
    width: 100%;
    margin: 0;
    color: rgb(255, 136, 241);
    font-size: calc(1.7vw + 1.7vh);
    font-family: Oswald, sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 4px black; /* Set the horizontal offset, vertical offset, blur radius, and color of the shadow */
}

.my-container{
    margin: 0;
    padding-left: 0;
    padding-right: 10%;
}

.display-rank{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ranked-icon{
    height: calc(6vh + 6vw);
    width: calc(6.7vh + 6.7vw);
    position: absolute;
    top: 15%;
    right: 5%;
}

.ranked-stats{
    display: flex;
    flex-wrap: wrap;
    width: calc(22vw + 22vh);
    position: relative;
    padding-right: calc(7vh + 7vw);
    margin-bottom: calc(1vw + 1vh);
}

.stats{
    font-size: calc(0.8vh + 0.8vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px black;
    display: inline-block;
    margin-bottom: 0;
}

#wins{
    color: rgb(0, 255, 0);
}

#losses{
    color: rgb(255, 0, 0);
}

#lp{
    font-size: calc(0.8vh + 0.8vw);
    text-shadow: 2px 2px 4px black;
    color: white;
}

#wr{
    font-size: calc(0.8vh + 0.8vw);
    text-shadow: 2px 2px 4px black;
    color: white;
}

.WL{
    width: 35%;
}

.spinner-border{
    height: 1.7rem;
    width: 1.7rem;
    margin-left: 2%;
    font-size: small;
}

.queue_type{
    margin: calc(0.5vw + 0.5vh) 0 0;
    color: white;
    font-size: calc(0.8vw + 0.8vh);
    font-family: Oswald, sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 4px black; /* Set the horizontal offset, vertical offset, blur radius, and color of the shadow */
}

.streak-icon{
    width: 10%;
    height: auto;
    margin-left: 2%;
    margin-top: 0.5%;
}

.dropdown-menu{
    font-size: calc(0.7vw + 1vh);
}

select#region-select.form-select{
    padding: 0.35rem 2rem 0.35rem 0.6rem;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    border: none;
    background-color: white;
}

.region-selector{
    display: inline-block;
}

.region-summoner{
    background-color: white;
    border-radius: 8px;
    width: 300px;
}