<!DOCTYPE html>
<html id="top">
<head>
    <title>Champion Mastery</title>
    <link rel="icon" type="image/png" href="https://th.bing.com/th/id/R.aa4ae534dffd7e6d526dbfe6713e109a?rik=peY7ffoMN3VZeg&pid=ImgRaw&r=0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <h1>League of Legends Summoner Search</h1>
        <img src="https://cdn.boop.pl/uploads/2021/06/Flag_Targon_1_Inventory.png" alt="clash banner" id="left_banner" class="side_banner">
        <img src="https://1.bp.blogspot.com/-UHpLjdn6ics/YJwoRKmVM1I/AAAAAAAB5z8/Wdg7uuRQt3wQhTx7N2FARQdXD69xMZHxACLcBGAsYHQ/s750/Flag_Bilgewater_1_Profile.png" alt="clash banner" id="right_banner" class="side_banner">

        <form method="POST">
            <div class="big_container">
                <div id="summoner_block" class="search-container">        
                    <label for="gameName_tagLine">Search Summoner</label>
                    <div class="region-summoner">
                        <div class="dropdown region-selector">
                            <label for="region-select" class="visually-hidden">Region</label>
                            <select id="region-select" class="form-select" name="region-select">
                                <option class="region" value="NA1" {% if request.form["region-select"] == "NA1" %} selected {% endif %}>NA</option>
                                <option class="region" value="EUW1" {% if request.form["region-select"] == "EUW1" %} selected {% endif %}>EUW</option>
                                <option class="region" value="EUN1" {% if request.form["region-select"] == "EUN1" %} selected {% endif %}>EUNE</option>
                                <option class="region" value="OC1" {% if request.form["region-select"] == "OC1" %} selected {% endif %}>OCE</option>
                                <option class="region" value="KR" {% if request.form["region-select"] == "KR" %} selected {% endif %}>KR</option>
                                <option class="region" value="JP1" {% if request.form["region-select"] == "JP1" %} selected {% endif %}>JP</option>
                                <option class="region" value="BR1" {% if request.form["region-select"] == "BR1" %} selected {% endif %}>BR</option>
                                <option class="region" value="LA1" {% if request.form["region-select"] == "LA1" %} selected {% endif %}>LAN</option>
                                <option class="region" value="LA2" {% if request.form["region-select"] == "LA2" %} selected {% endif %}>LAS</option>
                                <option class="region" value="RU" {% if request.form["region-select"] == "RU" %} selected {% endif %}>RU</option>
                                <option class="region" value="VN2" {% if request.form["region-select"] == "VN2" %} selected {% endif %}>VN</option>
                                <option class="region" value="TW2" {% if request.form["region-select"] == "TW2" %} selected {% endif %}>TW</option>
                            </select>
                        </div>      
                        <input type="text" id="gameName_tagLine" name="gameName_tagLine" placeholder="Game Name + Tagline" 
                        required value="{{ request.form['gameName_tagLine']|default('') }}"
                        pattern=".+#.+" 
                        oninvalid="this.setCustomValidity('Please enter a valid game name AND tagline (e.g. Doublelift#NA1)')"
                        oninput="this.setCustomValidity('')">
                    </div>
                </div>
                <div id="sort_block" class="search-container">
                    <label for="sort-by">Sort by</label>
                    <select name="sort-by" id="sort-by">
                        <option value="Champion" {% if request.form['sort-by'] == 'Champion' %} selected {% endif %}>Champion</option>
                        <option value="Mastery Level" {% if request.form['sort-by'] == 'Mastery Level' %} selected {% endif %}>Mastery Level</option>
                        <option value="Mastery Points" {% if request.form['sort-by'] == 'Mastery Points' %} selected {% endif %}>Mastery Points</option>
                        <option value="Last Played" {% if request.form['sort-by'] == 'Last Played' %} selected {% endif %}>Last Played</option>
                        <option value="Mastery Points Until Next Level" {% if request.form['sort-by'] == 'Mastery Points Until Next Level' %} selected {% endif %}>Mastery Points Until Next Level</option>
                        <option value="Chest Granted" {% if request.form['sort-by'] == 'Chest Granted' %} selected {% endif %}>Chest Granted</option>
                    </select><br>
                </div>
            </div>
        <input class="button" type="submit" value="Search" id="searchButton">
        </form>

        {% if error_message %}
            <div class="alert" role="alert">
                <div class="error">{{ error_message }}</div>
            </div>
        {% endif %}

        {% if gameName %}
            <div class="summoner-info">
                <img id="summoner-icon" src="{{ summoner_icon_url }}" alt="Summoner Icon">
                <div class="container my-container">
                    <h1 id="summoner-name">{{ gameName }}<div class="spinner-border d-none" id="loader" role="status">
                        <span class="sr-only"></span></div>
                    </h1>
                    <div class="display-rank">
                        <div class="ranked-stats" id="solo-rank">
                            <h2 class="queue_type">RANKED SOLO/DUO</h2>
                            {% if summoner_rank["RANKED_SOLO_5x5"]["hotStreak"] == true %}
                                <img class="streak-icon" src="../static/streak-icon.png" alt="">
                            {% endif %}
                            <h2 id="summoner-solo-rank">{{ summoner_rank["RANKED_SOLO_5x5"]["rank"] }}</h2>
                            {% if summoner_rank["RANKED_SOLO_5x5"]["rank"] != "UNRANKED" %}
                                <p class="stats WL" id="wins">W: {{ summoner_rank["RANKED_SOLO_5x5"]["wins"] }}</p>
                                <p class="stats wr" id="wr">WR: {{ summoner_rank["RANKED_SOLO_5x5"]["winrate"] }}</p>
                                <p class="stats WL" id="losses">L: {{ summoner_rank["RANKED_SOLO_5x5"]["losses"] }}</p>
                                <p class="stats lp" id="lp">LP: {{ summoner_rank["RANKED_SOLO_5x5"]["lp"] }}</p>
                            {% endif %}
                            {% if summoner_rank["RANKED_SOLO_5x5"]["rank"] != "UNRANKED" %}
                                <img class="ranked-icon" id="summoner-solo-rank-icon" src="../static/rank-icons/emblem-{{ summoner_rank['RANKED_SOLO_5x5']['league'] }}.png">
                            {% endif %}
                        </div>

                        <div class="ranked-stats" id="flex-rank">
                            <h2 class="queue_type">RANKED FLEX</h2>
                            {% if summoner_rank["RANKED_FLEX_SR"]["hotStreak"] == true %}
                                <img class="streak-icon" src="../static/streak-icon.png" alt="">
                            {% endif %}
                            <h2 id="summoner-solo-rank">{{ summoner_rank["RANKED_FLEX_SR"]["rank"] }}</h2>
                            {% if summoner_rank["RANKED_FLEX_SR"]["rank"] != "UNRANKED" %}
                                <p class="stats WL" id="wins">W: {{ summoner_rank["RANKED_FLEX_SR"]["wins"] }}</p>
                                <p class="stats wr" id="wr">WR: {{ summoner_rank["RANKED_FLEX_SR"]["winrate"] }}</p>
                                <p class="stats WL" id="losses">L: {{ summoner_rank["RANKED_FLEX_SR"]["losses"] }}</p>
                                <p class="stats lp" id="lp">LP: {{ summoner_rank["RANKED_FLEX_SR"]["lp"] }}</p>
                            {% endif %}
                            {% if summoner_rank["RANKED_FLEX_SR"]["rank"] != "UNRANKED" %}
                                <img class="ranked-icon" id="summoner-flex-rank-icon" src="../static/rank-icons/emblem-{{ summoner_rank['RANKED_FLEX_SR']['league'] }}.png">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div> 
        {% endif %}


        {% if table %}
            {{ table | safe }}
            <div id="last" class="container">
                <a href="#top" class="button" role="button">Back to top</a>
            </div>
        {% endif %}
    <script src="../static/script.js"></script>
</body>
</html>
